@import "helpers/reset";

@import "helpers/mixins";
@import "helpers/vars";

//Swiper
@import "node_modules/swiper/swiper";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

body{
    a{
        text-decoration: none;
        color: #000;
    }
    font-family: 'Manrope', sans-serif;
    .container{
        width: 100%;
        height: 100%;
        max-width: 1408px;
        margin: 0 auto;
        position: relative;
    }
    header{
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 20;
        align-items: center;
        justify-content: space-between;
        .header-wrapper{
            height: 100px;
            overflow: hidden;
            .container{
                .row{
                    .col-md-12{
                        display: flex;
                        height: 100px;
                        align-items: center;
                        .region__header, .search__header, .basket__header{
                            height: 100px;
                        }
                        .region__header{
                            display: flex;
                            align-items: center;
                            font-weight: 400;
                            font-size: 20px;
                        }
                        .search__header{
                            border: 1px solid #DCDCDC;
                            border-radius: 10px;
                            height: 43px;
                            width: 464px;
                            margin-left: 163px;
                            input{
                                height: 40px;
                                width: 410px;
                            }
                            .submit{
                                font-size: 0;
                                height: 43px;
                                width: 43px;
                                background: url("../images/search.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                align-items: center;
                                transform: translateY(-4px);
                            }
                        }
                        .basket__header{
                            margin-left: auto;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            .basket{
                                display: flex;
                                width: 100%;
                                align-items: center;
                                justify-content: center;
                            }
                            a{
                                opacity: 0.5;
                                font-weight: 400;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        .menu-wrapper{
            height: 80px;
            background: #004889;
            .header__menu{
                display: flex;
                align-items: center;
                height: 80px;
                li{
                    &:first-child{
                        svg{
                            transform: translateY(-4px);
                            margin-right: 7px;
                        }
                    }
                    padding: 14px 25px;
                    border-radius: 10px;
                    &:hover{
                        transition: 1s;
                        border: 1px solid #FFFFFF;
                    }
                    a{
                        font-weight: 700;
                        font-size: 20px;
                        color: #FFFFFF;
                    }
                }
            }
            .phone-block__header{
                float: right;
                text-align: center;
                padding-top: 7px;
                a{
                    color: #FFFFFF;
                    font-weight: 700;
                    font-size: 22px;
                }
                p{
                    color: #FFFFFF;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }
    }
    main{
        .banner{
            margin-top: 30px;
            .swiperBanner{
                width: 914px;
                height: 555px;
                border-radius: 10px;
                .slide{
                    position: relative;
                    .text{
                        position: absolute;
                        font-weight: 700;
                        font-size: 46px;
                        width: 649px;
                        color: white;
                        top: 58px;
                        left: 62px;
                    }
                    a{
                        top: 407px;
                        left: 60px;
                        width: 252px;
                        height: 61px;
                        position: absolute;
                        padding: 17px;
                        color: white;
                        border: 2px solid white;
                        border-radius: 10px;
                        bottom: 0;
                        transition: 1s;
                        &:hover{
                            background: white;
                            color: black;
                            transition: 1s;
                        }
                        &:nth-child(2){
                            left: 325px;
                        }
                    }
                }
            }
            .bigpost{
                width: 453px;
                height: 555px;
                overflow: hidden;
                position: relative;
                border-radius: 10px;
                &:hover {
                    img{
                        display: block;
                        transform: scale(1.2);
                }
                }
                img{
                    transition: 1s;
                    display: block;
                }
                p{
                    position: absolute;
                    padding-top: 58px;
                    padding-left: 36px;
                    font-weight: 700;
                    font-size: 40px;
                    color: white;
                    z-index: 20;
                }
            }
            .smallBanner{
                width: 453px;
                height: 325px;
                background: url("../images/smallBaner.svg");
                border-radius: 10px;
                position: relative;
                overflow: hidden;
                &:hover {
                    img {
                        transform: scale(1.2);
                    }
                }
                img{
                    transition: 1s;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                p{
                    position: absolute;
                    top: 42px;
                    left: 24px;
                    font-weight: 700;
                    font-size: 30px;
                    color: black;
                }
            }
        }
        .advantage{
            margin-top: 20px;

        }
    }
}





